name: Verify Formulas
on:
  push:
    paths:
      - '**.rb'
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Lint
        uses: gardenbed/actions/ruby-lint@main
